*{
    margin:0; padding: 0;
    box-sizing: border-box;
    font-family: 'Antic Didone', serif;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}
*{
    margin: 0;
    box-sizing: border-box;
  }
   body {
    font-family: 'Antic Didone', serif;
    padding: 90px 20px 0;
  }
  header{
    background-color: rgb(247, 248, 249);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  nav{
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
  }
  .logo{
    color:black;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
  }
  .navbar{
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  .nav-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    width:max-content;
  }
  .nav-bar-link{
    color:black;
    text-decoration: none;
    padding: 8px 12px;
  }
  .nav-bar-link:hover{
    color: #65c477;
    transition: 0.5s;
  }
  .icons-nav a{
    font-size: 18px;
    color:#333;
    text-decoration: none;
    margin: 0 10px;
    line-height: 80px;
    width:max-content;
  }
  .icons-nav a:hover{
    color:  #65c477;
  }
  .nav-toggle {
    color: black;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20 px;
    line-height: 60px;
    cursor: pointer;
  
    display:none;
  }
.login-box{
    margin: auto;
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Antic Didone', serif;
}
.login-box .login-container{
    position: static;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    background: #ffffff;
    box-shadow: 0 0 5px #999999;
}
.login-container .log-left {
    padding: 15px;
    display: flex;
    width: 60%;
    clip-path: ellipse(280px 350px at 10% 20%);
    background:#65c477;
}
.login-container .log-right{
    padding: 60px 60px;
    width: 50%;
    margin-left: -10%;
}
.login-container .login-text{
    position: static;
    width: 100%;
    color:#ffffff;
}
.login-container .login-text h2{
    margin: 0 0 15px 0;
    font-size: 40px;
    font-weight: 700;
}
.login-container .login-text p{
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.login-container .login-text .btn-log{
    display: inline-block;
    padding: 7px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    color: #ffffff;
    outline: none;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: .3s;
}
.login-container .login-text .btn-log:hover{
    color: #65c477;
    box-shadow: inset 150px 0 0 0 #ffffff;
}    
.login-container .log-right .login-form {
    position: static;
    width: 100%;
}
.login-container .log-right .login-form h2{
    margin: 0 0 20px 0;
    font-size: 40px;
    font-weight: 700;
}
.login-container .log-right .login-form p{
    margin: 0 0 10px 0;
    text-align: left;
    color: black;
    font-size: 16px;
}
.login-container .log-right .login-form p:last-child{
    margin: 0;
    padding-top: 3px;
}
.login-container .log-right .login-form p a{
    color: #65c477;
    font-size: 14px;
    text-decoration: none;
}
.login-container .login-form label{
    display: block;
    width: 100%;
    margin-bottom: 2px;
    letter-spacing: .5px;
}    
.login-container .login-form p:last-child label{
    width: 60%;
    float: left;
}
.login-form input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 30px;
}
.login-form input[type=submit]{
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    color: #65c477;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #65c477;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 #65c477;
    transition: .3s;
}
.login-form input[type=submit]:hover{
    color: #ffffff;
    box-shadow: inset 250px 0 0 0 #65c477;
}   
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding: 2rem 50px;
}
.footer .box-container .box{
    display: flex;
    flex-direction: column;
}
.footer .box-container .box h3{
    color: black; 
    font-size: 1rem;
    padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
    color: rgb(121, 121, 121);
    font-size: 1rem;
    padding: 1rem 0;
}    
.footer .box-container .box a:hover{
    display: block;
    color: #333;;
    text-decoration: underline;
}    
.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: .80rem;
    font-family: 'Antic Didone', serif;
    color:black;
    border-top: .1 rem solid rgba(0, 0, 0, .1);
}
@media (max-width:740px){
    body{
    padding-top: 70px;
    }
    header{
    height:60px;
    }
    .logo{
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px;
    }
    .navbar{
      flex-direction: column;
      align-items: center;
      margin-right: 40px;
      list-style: none;
      background-color: #fffcf5;
      position: fixed;
      left: 0;
      top: 60px;
      width: 100%;
      padding-left: 20px 0;
  
      height: calc(100% - 60px);
      overflow-y: auto;
  
      left: 100%;
      transition: left 0.3s;
    }
    .nav-item{
      line-height: 70px;
    }
    .nav-bar-link:hover{
      color: #65c477;
    }
    .nav-toggle {
     display: block;
    }
    .navbar_visible{
      left: 0;
    }
    .nav-toggle:focus:not(:focus-visible){
      outline: none;
    }
    .footer .box-container{
        grid-template-columns: 1fr;
    }
}    