*{
    margin:0; padding: 0;
    box-sizing: border-box;
    font-family: 'Antic Didone', serif;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
section{
    padding: 2rem 9%
}
.btn-beige{
    display: inline-block;
    margin-top: 5rem;
    border-radius: 5rem;
    background: #5e76b9;
    color:#fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7em;
}
.btn-beige:hover{
    background: #333;;
}
.btn-green{
    display: inline-block;
    margin-top: 5rem;
    border-radius: 5rem;
    background: #65c477;
    color:#fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7em;
}
.btn-green:hover{
    background: #333;
}
.about{
    text-align: center;
    font-size: 3rem;
    color:black;
    background: #eee;
}
.newsletter{
    padding: 1rem 0;
    margin: 2rem 0;
    background-color: #ddd6cf;
}
header{
    position: fixed;
    top:-30px; left:0; right:0;
    padding:2rem 9%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.15em 0.5em 1em rgba(31, 31, 31, 0.353);
}
header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: rgb(35, 35, 35);
}
header .navbar a:hover{
    color: #65c477;
}
.logo img{
    width: 100px;
}
header .icons-nav a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}
header .icons-nav a:hover{
    color:  #65c477;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(/assets/pexels-gergő-køvács-4938804.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    width: 100%;
}
.home .content h1{
    max-width: 1.5rem;
    font-size: 10rem;
    color:black;
    line-height: 2;  
}
.home .content h2{
    color: rgb(121, 121, 121);
    font-size: 3.5rem;
    padding-right: 650px;
    padding-left: 1rem;
    line-height: 1.5;
}
.about .icons-container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.icons-container .icons{
    background: #fff;
    border: .1rem solid rgba(31, 31, 31, 0.353);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}
.icons-container .icons img{
   height: 5rem;
   margin-right: 2rem;
}
.icons-container .icons h3{
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}
.icons-container .icons span{
    color: #555;
    padding-bottom: .5rem;
    font-size: 1.3rem;
}
.products-yado .head-yado{
    text-align: center;
    font-size: 4rem;
    color:black;
    padding: 1rem;
    margin: 2rem 0;
    background: #e4f0f7;
}
.products-yado .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}        
.products-yado .box-container .box{
    flex: 1 1 -10rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
}
.products-yado .box-container .box .image{
    position:relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
}
.products-yado .box-container .box .image img{
    height: 25rem;
}
.products-yado .box-container .box:hover .image img{
    transform: scale(1.1);
}*/
.products-yado .box-container .box .image .icons{
    position: absolute;
    bottom: 0; left: 0; right: 0;
    display: flex;
}            
.products-yado .box-container .box .image .icons-products a{
    height: 5rem;
    line-height: 5rem;
    font-size:2rem;
    width: 50%;
    background: #65c477;
    color: #fff;
}
.products-yado .box-container .box .image .icons-products .cart-btn{
    border-radius: .3rem;
    padding: .1rem .4rem;
}
.products-yado .box-container .box .image .icons-products a:hover{
    background:#89a4d5;
}
.products-yado .box-container .box .products-content{
    padding: 2rem;
    text-align: center;

}
.products-yado .box-container .box .products-content h3{
    font-size: 1.5rem;
    color:black;
}    
.products-yado .box-container .box .products-content .price{
    font-size: 2rem;
    color:#333;
    font-weight: bolder;
    padding-top: 1rem;
}
.newsletter-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.newsletter-container .newsletter-content img{
    width: 100%;
    align-items: left;
}
.newsletter-submit{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.newsletter-submit h3{
    display: block;
    font-size: 5rem;
    font-weight: bold;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.newsletter-container .newsletter-submit p{
    display:block;
    font-size: 2rem;
    margin-block-start: .5em;
    margin-block-end: .5;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    align-items: center;
    padding-left: 5rem;
}
.input-container{
    display: flex;
    justify-content: end;
    width: 50%;
    margin: -25rem auto 21rem 77rem;
}
.field-text {
    width: 88%;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 40px;
    font-size: 1.1rem;
    margin-right: 20px;
}
.input-container .btn{
    position: absolute;
    border-radius:3px 8px 8px 3px;
    background-color: #65c477;
    color: #fff;
    height: 30px;
    right: 10px;
    padding: 10px 30px 30px 5px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s;
    text-align: center;
}
.btn:hover{
    background-color: #89a4d5;
}
.footer .box-container{
    display:flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.footer .box-container .box{
    flex: 1 1 25rem;
}
.footer .box-container .box h3{
    color: black; 
    font-size: 2.5rem;
    padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
    color: rgb(121, 121, 121);
    font-size: 1.5rem;
    padding: 1rem 0;
}    
.footer .box-container .box a:hover{
    display: block;
    color: #333;;
    text-decoration: underline;
}    
.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 1rem;
    color:black;
    border-top: .1 rem solid rgba(0, 0, 0, .1);
}
.login-box{
    margin: auto;
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-box .login-container{
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    background: #ffffff;
    box-shadow: 0 0 5px #999999;
}
.login-container .log-left {
    padding: 15px;
    display: flex;
    width: 60%;
    clip-path: ellipse(300px 350px at 10% 20%);
    background:#65c477;
}
.login-container .log-right{
    padding: 60px 60px;
    width: 50%;
    margin-left: -10%;
}
.login-container .login-text{
    position: relative;
    width: 100%;
    color:#ffffff
}
.login-container .login-text h2{
    margin: 0 0 15px 0;
    font-size: 40px;
    font-weight: 700;
}
.login-container .login-text p{
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.login-container .login-text .btn-log{
    display: inline-block;
    padding: 7px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    color: #ffffff;
    outline: none;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: .3s;
}
.login-container .login-text .btn-log:hover{
    color: #65c477;
    box-shadow: inset 150px 0 0 0 #ffffff;
}    
.login-container .log-right .login-form {
    position: relative;
    width: 100%;
}
.login-container .log-right .login-form h2{
    margin: 0 0 20px 0;
    font-size: 40px;
    font-weight: 700;
}
.login-container .log-right .login-form p{
    margin: 0 0 10px 0;
    text-align: left;
    color: black;
    font-size: 16px;
}
.login-container .log-right .login-form p:last-child{
    margin: 0;
    padding-top: 3px;
}
.login-container .log-right .login-form p a{
    color: #65c477;
    font-size: 14px;
    text-decoration: none;
}
.login-container .login-form label{
    display: block;
    width: 100%;
    margin-bottom: 2px;
    letter-spacing: .5px;
}    
.login-container .login-form p:last-child label{
    width: 60%;
    float: left;
}
.login-form input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 30px;
}
.login-form input[type=submit]{
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    color: #65c477;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #65c477;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 #65c477;
    transition: .3s;
}
.login-form input[type=submit]:hover{
    color: #ffffff;
    box-shadow: inset 250px 0 0 0 #65c477;
}    
